// CODE STYLE

code {
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 0.125rem 0.25rem;
  color: #F0EFE0;
  background-color: #171717BB;
  border-radius: 0.25rem;
}

pre code {
  //background-color: yellow;
  padding-inline: 0;
  background-color: transparent;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

pre {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.59375rem;
  margin-top: 0;
  margin-bottom: 0;
}

.highlight
{
  margin-left: 2rem;
  margin-right: 2rem;
}

.highlight pre {
  padding-top: 0;
  padding-bottom: 0;
  //margin-top: 1rem;
  //margin-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background: none;
  overflow:scroll;

}
.highlight > pre {
  text-align: left;
  background-color: #171717BB;
  background-size: auto 3em;
  background-position-y: 0.625rem;
  //border: 1px solid #F0EFE022;
  border-left: 0.4375rem solid #F0EFE099;
}
.highlight > pre:not([class~="highlight"]) { /* code block with line number */
  //padding: 1rem;
  //padding: 1rem;
  //padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;

}
.highlight table,
.highlight tr,
.highlight td { /* to be removed after fixing table styles */
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}
.highlight pre.lineno {
  color: #F0EFE034;
  border-radius: 0;
  border-right: 2px solid #F0EFE017;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.td.code
{
  padding-inline: 0;
  padding: 0;
  margin: 0;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.lineno {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lineno::selection, .lineno::-moz-selection {
  background: none;
}