// MAIN STYLE

:root {
  --postThumbHeaderSize: 1.5rem;
  --postThumbHeaderLine: 2rem;
}

.centered
{
  text-align: center;
  vert-align: middle;
  
}

.headerMenuItem
{
  text-align: center;
}

.navbar
{
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #0003;
  background-image: linear-gradient(#0008, #0003);
  -webkit-backdrop-filter: saturate(180%) blur(16px);
  backdrop-filter: saturate(180%) blur(16px);
  overflow: clip;


}
.navbarContent
{
  margin: auto;
  max-width: 1000px;
  height: 100%;
  vertical-align: middle;
  display: table;
}

.navbarContent a {
  color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  height: inherit;
  width: 10rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", serif;
  font-weight: normal;
  letter-spacing: 1.5px;
}

.navbarContent a:hover {
  background: #fff5;
  color: black;
}

body
{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  //background:
  //        //linear-gradient(90deg, #FFF, #222 30%, #222 70%, #FFF);
  //        radial-gradient(ellipse at top, #604747, #222),
  //        radial-gradient(ellipse at bottom, #888, #222);
  //background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 0, 0, 0)), url(https://grainy-gradients.vercel.app/noise.svg);
  
  //background-attachment: fixed;
  //background: linear-gradient(to bottom, rgba(0,0,0,255), transparent);
  
  background-color: #171717;
  //-webkit-font-smoothing: antialiased;
}

.pageContent
{
  padding-top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0;
  margin: auto;
  max-width: 1200px;
  alignment: center;
  text-align: center;
  font-family: "JetBrains Mono", monospace;

  ////Background
  //background-color: rgba(17, 17, 17, 255);
  //background:
  //linear-gradient(90deg, #0003, #222A 50%, #222A 50%, #0003);
  
  //border-right: 1px solid #FFF2;
  //border-left:  1px solid #FFF2;
}

.pageContentInner
{
  /*padding-right: ;*/
  padding-top: 100px;
  //padding: 0;
  margin: 0;
  /*background-color: #331111;*/
}

html,h1,h2,h3,h4,h5,h6,p,a,li,u,b,sub,strong
{
  font-family: "Helvetica", monospace;
  color: #FFFA;
  text-align: left;
  padding: 0;
  margin: 0;
  line-break: auto;
}

hr
{
  border-bottom: solid 1px;
  border-top: 0;
  color: #FFF6;
}

html,h1,h2,h3,h4,h5,h6,strong
{
  color: #FFF;
  //word-wrap: normal;
}

p, li, a, u, b,
{
  font-size: 1.2rem;
  line-height: 2rem;
  //display: flex;
  margin-bottom: 1.42rem;
}

ul, ol
{
  display: block;
  margin-block-end: 1rem;
}

li
{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

h1
{
  font-size: 8rem;
  line-height: 9rem;
  //text-transform: uppercase;
}
h2
{
  font-size: 3rem;
  line-height: 4rem;
}
h3
{
  font-size: 3rem;
  line-height: 4rem;
}
h4
{
  font-size: 2rem;
  line-height: 3rem;}
h5
{
  font-size: 1.5rem;
  line-height: 2.5rem;}
h6
{
  font-size: 1.25rem;
  line-height: 2.25rem;}

.cc
{
  text-align: center;
}

img
{
  display: flex;
  text-align: center;

  max-width: 100%;
  min-width: 17rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

sub
{
  font-family: "Arial", monospace;
  letter-spacing: 1.42px;
}

.footer
{
  min-height: 6.66rem;
  text-align: center;
}

hr.small {
  max-width: 6.25rem;
  margin: 1rem auto;
  border-width: 0.25rem;
  border-color: inherit;
  border-radius: 0.1875rem;
}

button
{
  border: 0;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  border-radius: 0.8rem;
  margin: auto;
  background-color: #111111;
  transition-duration: 0.2s;
  scale: 100%;
  color: #FFF;
  font-size: 1.5rem;
  font-family: "JetBrains Mono", monospace;
  font-weight: bolder;
  cursor: pointer;
}

button:hover
{
  transition-duration: 0.2s;
  background-color: #222;
  scale: 110%;  
}

button:active
{
  background-color: #888;
  scale: 140%;
}

.pageNumber
{
  border: 0;
  padding: 1rem;
  margin: auto;
}

.libraryFilter
{
  display: flex;
  flex-direction: row;
}

.libraryFilterItem
{
  padding-top: 1.1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border: 1px solid white;
  min-width: 10px;
  margin-top: 1rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: "Helvetica", monospace;
  font-size: 1rem;

}

.libraryFilterItem:hover
{
  background-color: #222;
  scale: 100%;
}

.libraryFilterItem:active
{
  background-color: #888;
  scale: 100%;
}