:root {
  --postThumbHeaderSize: 1.666rem;
  --postThumbHeaderLine: 2rem;
  --blue: #00b;
}

.postThumbTitle
{
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
  //filter: drop-shadow(0px 0px 20px black);
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  width: 100%;
}

.postThumbDescription
{
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}


.postThumbRoot
{
  display: flex;
  flex-direction: row;
}

.postThumb
{
  display: block;
  cursor: pointer;
  text-align: left;
  width: 50%;
  height: 520px;
  background-color: #121212;
  //background: linear-gradient(to bottom, #000, #444);
  background-position: center;
  overflow: clip;

  border-radius: 0.5rem;
  text-decoration: none;
  margin: 0.0rem 1.0rem 0.4rem;
}

.postThumbLibrary
{
  display: block;
  cursor: pointer;
  text-align: left;
  width: 100%;
  height: 5rem;
  background-color: #121212;
  //background: linear-gradient(to bottom, #000, #444);
  background-position: center;
  overflow: clip;

  border-radius: 0.5rem;
  text-decoration: none;
  margin: 0.0rem 1.0rem 1rem;

  scale: 100%;
  transition-duration: 0.2s;
}

.postThumbLibrary:hover
{
  scale: 102%;
  background-color: #202020;
  transition-duration: 0.2s;
}

.postThumbImage
{
  display: block;
  border: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.postThumb:hover
{
  scale: 105%;
  transition-duration: 0.2s;
}

.postThumb
{
  scale: 100%;
  transition-duration: 0.2s;
}

.postThumb h1
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);
}
.postThumb h2
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h3
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h4
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h5
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h6
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}

