:root {
  --blue: #00b;
}

h1
{
  font-size: 10rem;
  line-height: 11rem;
  text-transform: initial;
  margin-bottom: 2rem;
  
}
h2
{
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
}
h3
{
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
h4
{
  font-size: 1.5rem;
  line-height: 4rem;
  margin-top: 1rem;
}

h5
{
  font-size: 1.35rem;
  line-height: 3rem;
  margin-top: 1rem;
}
h6
{
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.cc
{
  text-align: center;
}

img
{
  display: flex;
  text-align: center;
  
  max-width: 100%;
  min-width: 17rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.circleImage
{
  text-align: center;
  max-width: 100%;
  margin: auto;
  border-radius: 50%;
}

blockquote
{
  font-family: "Helvetica", monospace;
  font-style: italic;
  background-color: #333B;
  background-size: auto 3em;
  background-position-y: 0.625rem;
  border-left: 0.25rem solid rgba(64,196,255,128);
  padding: 0.05rem;

}
blockquote p
{
  color: #FFFB;
  margin: 0.5rem;
  padding: 0.625rem;
}

hr.small {
  max-width: 6.25rem;
  margin: 1rem auto;
  border-width: 0.25rem;
  border-color: inherit;
  border-radius: 0.1875rem;
}

#fullpage {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  backdrop-filter: blur(20px) saturate(120%) brightness(50%);
  -webkit-backdrop-filter: blur(20px) saturate(120%) brightness(50%);
  //background-color: #000B;
}

//body
//{
//  padding: 0;
//  margin: 0;
//  width: 100%;
//  height: 100%;
//  //background:
//  //        radial-gradient(ellipse at top, #725656, transparent),
//  //        radial-gradient(ellipse at bottom, #361f1f, transparent);
//
//  //background:
//          //radial-gradient(ellipse at top, #604748, #222),
//          //radial-gradient(ellipse at bottom, #888, #222);
//
//  // background with image
//  //background-image: url("/assets/images/someBG.png");
//  //background-size: 100%;
//
//  background-attachment: fixed;
//  background-color: #000;
//  //-webkit-font-smoothing: antialiased;
//}

//.pageContent
//{
//  padding-top: 0;
//  padding-left: 3rem;
//  padding-right: 3rem;
//  padding-bottom: 0;
//  margin: auto;
//  max-width: 1200px;
//  alignment: center;
//  text-align: center;
//  font-family: "Helvetica", monospace;
//
//  ////Background
//  background-color: #1e1e1ecc;
//
//  //border-right: 1px solid #FFF2;
//  //border-left:  1px solid #FFF2;
//}