:root {
  --postThumbHeaderSize: 1.5rem;
  --postThumbHeaderLine: 2rem;
  --blue: #00b;
}

.postThumbTitle
{
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  //filter: drop-shadow(0px 0px 20px black);
  padding-top: 0.5rem;
  //padding-left: 1rem;
  //padding-right: 2rem;
  padding-bottom: 0;
  //background: linear-gradient(top, #000F, #0000);
  height: 3rem;
  width: 100%;
  //background-image: linear-gradient(top, #000F, #0000);
  background-size: 100%;
  //background-image: linear-gradient(0deg, #0000, #0009);
  //backdrop-filter: blur(5px);
  //-webkit-backdrop-filter: blur(5px);
  background-color: #0008;

}

.postThumbDescription
{
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: normal;
  //filter: drop-shadow(0px 0px 10px black);
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 100%;

  background-size: 100%;
  background-color: #0008;
  //background-image: linear-gradient(180deg, #0004, #0008);

}

.postThumbRoot
{
  display: inline-block;
  cursor: pointer;
  text-align: left;
  //max-width: 100%;
  //border: 2px solid red;
  width: 450px;
  height: 300px;
  background-size: 150%;
  //background: radial-gradient(circle at 20px 20px,
  //        #8c2e05 -5%, 
  //        #0b94be 120%);

  background-color: #545454;
  //background-image: url("/assets/images/someBG.png");
  background-position: center;
  overflow: clip;

  //border-radius: 1rem;
  text-decoration: none;
  border: 1px solid black;
  margin: 0.5rem 0.5rem 0.4rem;
}

.postThumbRoot:hover
{
  border: 1px solid white;
}

.postThumb
{
  display: block;
  text-align: center;
  margin-bottom:2rem;
  text-decoration: none;
}

.postThumb img
{
  display: flow;
  border-radius: 0;
}

.postThumb h1
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);
}
.postThumb h2
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h3
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h4
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h5
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}
.postThumb h6
{
  font-size: var(--postThumbHeaderSize);
  line-height: var(--postThumbHeaderLine);

}

