<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
{% include navigation.html %}
<div class="pageContent">
    <div class="pageContentInner">
        {{ content }}
        <br><br>
        <div style="height: 1px;width: 100%;background-color: #FFF6"></div>
        <br>
        <sub>
            Designed by Xabblll<br>
            Very Legal information
        </sub>
        <div style="height: 42px"></div>

    </div>
</div>
</body>
</html>