<!doctype html>
<html>
<head>
    <link rel="icon" href="/assets/images/Logo_white_64.png">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KB6KDGZE5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-4KB6KDGZE5');
    </script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/postStyles.css">
</head>
<body>
{% include navigation.html %}
<div id="fullpage"><h5 style="text-align: right; margin-top:1rem; margin-right: 2rem">Click to Exit</h5></div>

<div class="pageContent">
    <div class="pageContentInner">
        <h1>{{ page.title }}</h1>
        {{ content }}
<!--        <img style="max-width: 100%; object-fit: cover;" src="{{ page.image }}" alt="">-->
        <div style="height: 3rem"></div>
        <div style="height: 1px;width: 100%;background-color: #FFF6"></div>
        <div class="footer">
        <br>
        <sub>
            Designed by Xabblll in 2023<br>
        </sub>
        </div>
    </div>
</div>
</body>
<script>
    // function getPics() {} //just for this demo
    const imgs = document.querySelectorAll('img');
    const fullPage = document.querySelector('#fullpage');

    imgs.forEach(img => {
        img.addEventListener('click', function() {
            fullPage.style.backgroundImage = 'url(' + img.src + ')';
            fullPage.style.display = 'block';
        });
    });
    
    fullPage.addEventListener('click', function (){
        fullPage.style.display = 'none';
    })
    
    // // Background color change
    // const randomColor = Math.floor(Math.random()*16777215).toString(16);
    // const body = document.getElementsByTagName('body')[0];
    // body.style.backgroundAttachment = 'fixed';
    // body.style.backgroundSize = "100% 100%";
    // body.style.background = 'radial-gradient(ellipse at top, #'+ randomColor +', #202020), radial-gradient(ellipse at bottom, #808080, #202020)';
    //
</script>
</html>
