<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/postStyles.css">
</head>
<body>
{% include navigation.html %}
<div id="fullpage"><h5 style="text-align: right; margin-top:1rem; margin-right: 2rem">Click to Exit</h5></div>
<div class="pageContent">
    <div class="pageContentInner">
        <h1>{{ page.title }}</h1>
        <img style="width: 1200px; margin: auto;" src="{{ page.image }}" alt="">

        {{ content }}
        <div style="height: 3rem"></div>
        <br><br>
        <div style="height: 1px;width: 100%;background-color: #FFF6"></div>
        <br>
        <sub>
            Designed by Xabblll<br>
            Very Legal information
        </sub>
        <div style="height: 42px"></div>
    </div>
</div>
</body>
<script>
    // function getPics() {} //just for this demo
    const imgs = document.querySelectorAll('img');
    const fullPage = document.querySelector('#fullpage');

    imgs.forEach(img => {
        img.addEventListener('click', function() {
            fullPage.style.backgroundImage = 'url(' + img.src + ')';
            fullPage.style.display = 'block';
        });
    });
    
    fullPage.addEventListener('click', function (){
        fullPage.style.display = 'none';
    })
    
    // // Background color change
    // const randomColor = Math.floor(Math.random()*16777215).toString(16);
    // const body = document.getElementsByTagName('body')[0];
    // body.style.backgroundAttachment = 'fixed';
    // body.style.backgroundSize = "100% 100%";
    // body.style.background = 'radial-gradient(ellipse at top, #'+ randomColor +', #202020), radial-gradient(ellipse at bottom, #808080, #202020)';
    //
</script>
</html>
