.test
{
    width: 300px;
    height: 100px;
    padding: 0px;
    background-color: yellow;
    /*align-items: center;*/
    /*justify-items: center;*/

}

.centered
{
    text-align: center;
    vert-align: middle;
}

.headerMenuItem
{
    text-align: center;
}

.navbar
{
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #0003;
    background-image: linear-gradient(#0008, #0003);
    -webkit-backdrop-filter: saturate(180%) blur(16px);
    backdrop-filter: saturate(180%) blur(16px);

}
.navbarContent
{
    margin: auto;
    max-width: 1000px;
    height: 100%;
    vertical-align: middle;
    display: table;
}

.navbarContent a {
    /*float: initial;*/
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: inherit;
    width: 160px;
    text-decoration: none;
    font-size: 20px;
    /*font: menu;*/
    font-family: "Helvetica Neue", monospace;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.navbarContent a:hover {
    background: #fff5;
    color: black;
}

body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: 
            radial-gradient(ellipse at top, #765, #311), 
            radial-gradient(ellipse at bottom, #111, #311);
    background-attachment: fixed;
    background-color: #171717;

}

.bodyInner 
{
    /*I love HTML and CSS*/
    /*background-position: top;*/
    /*position: fixed;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*height: inherit;*/
    /*min-height: 900px;*/
    /*height: 100%;*/
    /*max-width: 1400px;*/
    /*top: 64px;*/

}

.pageContent
{
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
    margin: auto;
    
    max-width: 1000px;
    /*min-height: 100vh;*/
    /*background-color: #887272;*/
    alignment: center;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    /*align-items: center;*/
    /*align-content: center;*/
    /*margin-block: auto;*/
}

.pageContentInner
{
    /*padding-right: ;*/
    padding: 0;
    margin: unset;
    /*background-color: #331111;*/
}

h1
{
    font-family: "Helvetica", monospace;
    color: #FFF;
    font-size: 128px;
    /*background-color: #333;*/
    text-align: left;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h2
{
    font-family: "Helvetica", monospace;
    color: #FFF;
    font-size: 48px;
    /*background-color: #333;*/
    text-align: left;
    font-weight: bold;
    margin: 0;


}

img
{
    text-align: center;
    padding: 10px;
    max-width: 100%;
    margin: auto;
}


p
{
    font-family: "Arial", monospace;
    font-size: 20px;
    /*color: #B0AAA0;*/
    color: #FFFFFF99;
    text-align: left;
}

.test11
{
    width: 1200px;
    height: 300px;
    color: yellow;
    background-color: #111111;
}