.test
{
    width: 300px;
    height: 100px;
    padding: 0px;
    background-color: yellow;
    /*align-items: center;*/
    /*justify-items: center;*/

}

.centered
{
    text-align: center;
    vert-align: middle;
}

.headerMenu
{
    background-color: aqua;
    color: chartreuse;
    text-align: center;
}

.headerMenuItem
{
    text-align: center;
}

.navbar
{
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #0003;
    background-image: linear-gradient(#0008, #0003);
}
.navbarContent
{
    margin: auto;
    max-width: 1400px;
    height: 100%;
    vertical-align: middle;
    display: table;
}

.navbarContent a {
    /*float: initial;*/
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: inherit;
    width: 144px;
    text-decoration: none;
    font-size: 18px;
    /*font: menu;*/
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.navbarContent a:hover {
    background: #fff5;
    /*background-image: linear-gradient(#FFF1 50%, #FFF1);*/
    color: black;
}

body
{
    padding: 0;
    margin: 0;
    background: #171717;
    width: 100%;
    height: 100%;
}

.bodyInner 
{
    background-color: #171717;
    background: radial-gradient(ellipse at top, #765, #311),
                radial-gradient(ellipse at bottom, #111, #311);
    /*background-position: top;*/
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    /*height: inherit;*/
    /*min-height: 900px;*/
    /*height: 100%;*/
    /*max-width: 1400px;*/
}

.pageContent
{
    margin: auto;
    max-width: 1400px;
    height: 100vh;
    /*background-color: #171717;*/
    alignment: center;
    text-align: center;
}


/*p {text-align: center;}*/